<div class="container">
  <div class="cards">
    <div class="card">
      <%= simple_form_for [@festival, @contract] do |f| %>
        <%# <%= f.input :total_cost %> 
        <%= f.submit "Create my contract!" %>
      <% end %>
    </div>
  </div>
</div>