<div class="big-banner">
    <div class="big-banner-content text-center">
        <div class="icon">
            <h1><i class="fas fa-fire"></i></h1>
        </div>
        <div class="text" style="font-family: 'GraphikLCG-Medium' ">
            <p>Get insured instantly</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="big-card col-sm-6">
            <div class="card p-2 card-content text-center mb-3 ml-auto">
                <%= image_tag "vento-2.png", class: "card image top mt-4 ml-auto mr-auto", style: "border: none; height: 10px; width: 50px; " %>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0" style="font-family: 'GraphikLCG-Regular' ">Your personalised quote</h5>
                    <p class="card-text text-center mb-5" style=" line-height: 5rem;font-family: 'GraphikLCG-Regular'">£500</p>
                    <a href="#" class="btn insured-button text-white ml-auto mb-3 mr-auto" role="button">Get insured</a>
                    <a href="#" class="btn email-button text-black m-auto" role="button">Email quote to me</a>
                </div>
            </div>
        </div>
        <div class="list col-sm-6">
            <ul class="group-list" style="font-family: 'GraphikLCG-Regular' ">
                <li class="group-item">
                    <h3>Choose your cover</h3>
                    <p>Full cover or only the options you need</p>
                </li>
                <li class="group-item">
                    <h3>Add Event details</h3>
                    <p>Quickly and easily enter your event info</p>
                </li>
                <li class="group-item">
                    <h3>Instant Quote</h3>
                    <p>Receive your personalised quote instantly</p>
                </li>
                <li class="group-item">
                    <h3>Make payment</h3>
                    <p>We use stripe for instant secure payments</p>
                </li>
            </ul>
        </div>
    </div>
</div>