<section>
  <div class="container">
    <div class="person-image">
    <%= image_tag "vento_image/group-1@2x.png", class: "persons-avatar" %>
    </div>
    <h3 style="font-weight: bold; text-align: center;">Have a claim? <span style="font-weight:300">Please call us</span></h3>
    <div class="phone-numer d-flex justify-content-center">
      <a class="btn btn-flat" href="#">123456 789</a>
    </div>
  </div>
</section>

<section>
<h2 style="text-align: center; font-weight:bold; margin:100px 0px 50px 0px">FAQs</h2>
<div class="faq-container">
  <div class="row d-flex justify-content-center">
    <div class="card card-faq">
      <div class="card-faq-body" >
        <h4>What is Public Liability Insurance?</h4>
        <p>Covers organisers if a member of the public gets injured or ill and sues.</p> 
      </div>
    </div>
    <div class="card card-faq">
      <div class="card-faq-body">
        <h4>What is Public Liability Insurance?</h4>
        <p>Covers organisers if a member of the public gets injured or ill and sues.</p> 
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card card-faq">
      <div class="card-faq-body" >
        <h4>What is Public Liability Insurance?</h4>
        <p>Covers organisers if a member of the public gets injured or ill and sues.</p> 
      </div>
    </div>
    <div class="card card-faq">
      <div class="card-faq-body">
        <h4>What is Public Liability Insurance?</h4>
        <p>Covers organisers if a member of the public gets injured or ill and sues.</p> 
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card card-faq">
      <div class="card-faq-body" >
        <h4>What is Public Liability Insurance?</h4>
        <p>Covers organisers if a member of the public gets injured or ill and sues.</p> 
      </div>
    </div>
    <div class="card card-faq">
      <div class="card-faq-body">
        <h4>What is Public Liability Insurance?</h4>
        <p>Covers organisers if a member of the public gets injured or ill and sues.</p> 
      </div>
    </div>
  </div>
</div>
</section>