<section id="help">
  <div class="container">
    <div class="person-image">
    <%= image_tag "vento_image/group-1@2x.png", class: "persons-avatar" %>
    </div>
    <h3 style="font-weight: bold; text-align: center; font-family: 'GraphikLCG-Medium'  ">Have a claim? <span style="font-weight:300">Please call us</span></h3>
    <div class="phone-numer d-flex justify-content-center">
      <a class="btn btn-flat" href="#">123456 789</a>
    </div>
  </div>
</section>

<section id="faq">
<h2 style="text-align: center; font-weight:bold; margin:100px 0px 50px 0px">FAQs</h2>
<div class="faq-container">
  <div class="row d-flex justify-content-center">
    <div class="card card-faq col-sm-12 col-md-6 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-faq-body" >
            <h4 class="card-text">What is Public Liability Insurance?</h4>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-body">
            <p class="card-p-text">Covers organisers if a member of the public gets injured or ill and sues.</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="card card-faq col-sm-12 col-md-6 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-faq-body" >
            <h4 class="card-text">What is Employers Liability Insurance?</h4>
          </div>
        </div>
        <div class="flip-card-back">
            <p class="card-p-text">Covers organisers if a member of staff or volunteer gets injured or ill and sues.</p> 
        </div>
      </div>
    </div>
    <div class="card card-faq col-sm-12 col-md-6 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-faq-body" >
            <h4 class="card-text">What is Event Cancellation Insurance?</h4>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-body">
            <p class="card-p-text">Covers the financial loss to the organiser if an event gets
cancelled.</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="card card-faq col-sm-12 col-md-6 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-faq-body" >
            <h4 class="card-text">What is Non-appearance cover?</h4>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-body">
            <p class="card-p-text">Covers the artist fee in the event that an event gets cancelled.</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="card card-faq col-sm-12 col-md-6 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-faq-body" >
            <h4 class="card-text">What is Event Money cover?</h4>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-body">
            <p class="card-p-text">Covers any cash which has gone missing on site.</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="card card-faq col-sm-12 col-md-6 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-faq-body" >
            <h4 class="card-text">What is Event Property insurance?</h4>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-body">
            <p class="card-p-text">Covers any property which gets damaged.</p> 
          </div>
        </div>
      </div>
    </div>
</div>
</section>
