<div class="container">
    <div class="row image-grid">
      <div class="col-sm-3 col-md-3">
           <a href="" target="_self">
               <img alt="" class="img-responsive center-block" src="vento_image/rectangle-1.jpg" />
            </a>
        </div>
        
        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="vento_image/group-1@2x.png" />
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="http://placehold.it/200x200" />
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="http://placehold.it/200x200" />
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="http://placehold.it/200x200" />
            </a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="http://placehold.it/200x200" />
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="http://placehold.it/200x200" />
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <img alt="" class="img-responsive center-block" src="http://placehold.it/200x200" />
            </a>
        </div>
    </div>
</div>