   <!-- Modal -->
   <div class="modal fade" id="public_injuries" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
     <div class="modal-content">
       <div class="modal-header text-center">
         <h4 class="modal-title w-100 font-weight-bold">Injury to the public</h4>
         <p>Please give us a few details</p>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
        <div class="modal-body mx-3">
        
         
        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="orangeForm-email">What level of liability cover do you require? (GBP)</label>
            <div class="switch-field event-type">
              <input type="radio" id="event-radio51" name="event" value="1m">
              <label for="event-radio51">1m</label>
              <input type="radio" id="event-radio52" name="event" value="2m">
              <label for="event-radio52">2m</label>
              <input type="radio" id="event-radio53" name="event" value="5m">
              <label for="event-radio53">3m</label>
              <input type="radio" id="event-radio54" name="event" value="10m">
              <label for="event-radio54">4m</label>
            </div>
        </div>

        <div class="md-form mb-4">
            <label data-error="wrong" data-success="right" for="orangeForm-name">What is the total attendance for your event?</label>
            <input type="text" id="form34" class="form-control validate">
        </div>

        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Do you have any assets in the USA?</label>
           <div class="switch-field">
            <input type="radio" id="event-radio55" name="event" value="yes">
            <label for="event-radio55">Yes</label>
            <input type="radio" id="event-radio56" name="event" value="no">
            <label for="event-radio56">No</label>
           </div>
        </div>

        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Does the event include any dangerous activities?*</label>
           <div class="switch-field">
            <input type="radio" id="event-radio57" name="event" value="yes">
            <label for="event-radio57">Yes</label>
            <input type="radio" id="event-radio58" name="event" value="no">
            <label for="event-radio58">No</label>
           </div>
        </div>

        <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Are there any other events taking place at the event which need to be considered?</label>
           <div class="switch-field">
            <input type="radio" id="event-radio59" name="event" value="yes">
            <label for="event-radio59">Yes</label>
            <input type="radio" id="event-radio60" name="event" value="no">
            <label for="event-radio60">No</label>
           </div>
        </div>

 
       </div>
       <div class="modal-footer d-flex justify-content-center">
         <button class="btn btn-deep-orange" data-toggle="modal" data-dismiss="modal" data-target="#quote">next</button>
       </div>
     </div>
   </div>
 </div>

 <%= render 'shared/quote' %> 