    <!-- Modal -->
    <div class="modal fade" id="quote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Your tailored quote: £500</h4>
          <p>!!</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
         <div class="modal-body mx-3">
 
         <div class="md-form mb-4">
           <label data-error="wrong" data-success="right" for="orangeForm-pass">I/we declare that the information disclosed on this proposal, is to the best of my/our knowledge and belief both accurate and complete. I/we have taken care not to make misrepresentaiton in the disclosure of the information and understand that all information provided is relevant to the acceptance and assessment of this insurance, the terms on which it is accepted and the premium charged.
 
             You must tell us as sson as possible about any changes in this information you have provided to us which happens before or during any period of insurance. We will tell you if such change affects your insurance and if so, whether the change will reulst in revised terms and/or premium being applied to your policy. If you do not inform us about a change it may affect any claim you make or could result in your insurance being invalid.</label>
            <div class="switch-field">
             <input type="radio" id="event-radio70" name="event14" value="I accept the terms of this agreement">
             <label for="event-radio70">I accept the terms of this agreement</label>
            </div>
         </div>
 
 
 
  
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange" data-toggle="modal" data-dismiss="modal" data-target="#quote">Get insured</button>
        </div>
      </div>
    </div>
  </div>

 