
<div class="social-media-footer-title">
  <h2 style="text-align: center; font-weight: bold;">Contact us</h2>
</div>
<div class="social-media-footer">
  <ul class="social-media-list">
    <li class="social-media-list-item">
      <a href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fab fa-facebook-f"></span>
      </a>
    </li>

    <li class="social-media-list-item">
      <a href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fab fa-github"></span>
      </a>
    </li>

    <li class="social-media-list-item">
      <a href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fab fa-whatsapp"></span>
      </a>
    </li>

    <li class="social-media-list-item">
      <a href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fab fa-linkedin-in"></span>
      </a>
    </li>

    <li class="social-media-list-item">
      <a href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fab fa-instagram"></span>
      </a>
    </li>
  </ul>
</div>