<div class="banner">
  <div class="banner-content text-center">
    <div class="first">
      <h1>Real Simple Event Insurance</h1>
    </div>
    <div class="second">
      <p>Clear Policies. Instant Quotes. Rapid Claims Payment.</p>
    </div>
    <button type="button" class="btn boton text-white" data-toggle="modal" data-target="#coverages">
      <i class="fas fa-fire"></i>Get covered instantly
    </button>
    <!-- <a href="#" class="btn boton text-white" role="button"><i class="fas fa-fire"></i>Get covered instantly</a> -->
  </div>
</div>
<lottie-player src="/vento_animation.json"  background="transparent"  speed="1"  style="width: 100%; height: auto;"  loop autoplay></lottie-player>


<%= render 'shared/card' %> 
<%= render 'shared/bigcard' %> 
<%= render 'shared/photos' %> 
<%= render 'shared/faq' %>


