<div class="banner">
  <div class="banner-content text-center">
    <div class="first">
      <h1>Real Simple Event Insurance</h1>
    </div>
    <div class="second">
      <p>Clear Policies. Instant Quotes. Rapid Claims Payment.</p>
    </div>
    <button type="button" class="btn boton text-white" data-toggle="modal" data-target="#coverages">
      <i class="fas fa-fire"></i>Get covered instantly
    </button>
    <!-- <a href="#" class="btn boton text-white" role="button"><i class="fas fa-fire"></i>Get covered instantly</a> -->
  </div>
</div>

<%= render "shared/coverages" %>
