.banner {
  height: 33vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.first >h1 {
  font-size: 60px;
}

.first > h1 {
  font-family: "GraphikLCG-Regular";
}

.second > p {
  font-family: "GraphikLCG-Regular";
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 45px;
  align-items: center;
}

.second > p {
  font-size: 14px;
}

.boton {
  border-radius: 33.5px;
  width: 300px;
  height: 67px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 33px;
  margin: 0 auto;
  background-color: rgba(255,48,0,0.9);
  box-shadow: 0 0 15px rgba(199, 36, 0, 0.5);

  .fas.fa-fire {
    color: #01736e;
    transition-duration: 350ms;
  }
}
.boton:hover {
  background-color: #01736e;
  box-shadow: 0 0 15px rgba(1, 87, 82, 0.5);
  transition-duration: 350ms;

  .fas.fa-fire {
    color: #ff3000;
    transition-duration: 350ms;
  }
}