.banner {
  height: 33vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.first >h1 {
  font-size: 60px;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 45px;
  align-items: center;
}

.second > p {
  font-size: 14px;
}

.boton {
  border-radius: 33.5px;
  width: 300px;
  height: 67px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 33px;
  margin: 0 auto;
  background-color: #ff3000;
}
.boton:hover {
  background-color: #01736E;
}