.big-banner{
	font-size: 3rem;
}

.card-text{
	font-size: 2.5rem;
}

.card-title{
	font-size: 1rem;
	color: black;
}

.card-content {
	border-radius: 25px;
	height: 100%;
	width: 70%;
}
.insured-button {
	border-radius: 22px;
	width: 184px;
	height: 44px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 33px;
	margin: 32 auto 0;
	background-color: rgba(255,48,0,0.9);
	box-shadow: 0 0 15px rgba(199, 36, 0, 0.5);

	.fas.fa-fire {
		color: #01736e;
		transition-duration: 350ms;
  }

		&:hover {
			background-color: #01736e;
  		box-shadow: 0 0 15px rgba(1, 87, 82, 0.5);
  		transition-duration: 350ms;

  			.fas.fa-fire {
    			color: #ff3000;
    			transition-duration: 350ms;
  			}
		}
}

.email-button{
	border-radius: 22px;
	width: 164px;
	height: 34px;
	font-size: 9px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 33px;
	margin: 32 auto 0;
	background-color: #F0EBE7;
}

.group-list{
	padding-left: 2rem;
	list-style-type: square;
}

.group-item{
	padding-left: 1rem;
	transition: 1s;
	margin-left: -40px;

	h3 {
		font-size: 1.75rem;
		font-weight: bold;
	}

	p{
		font-size: 1.25rem;
		font-weight: 400;
	}
}

.big-card > .card {
	border: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

#email-button {
	box-shadow: 0 0 20px rgba(75, 75, 75, 0.4)
}


@media only screen and (max-width: 768px) {
	.card-content {
		width: 100%;
	}

	.group-list{
		margin-top: 50px;
	}

	.group-item{
		width: 70vw;
	}
}