.body.cancellation {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(https://images.pexels.com/photos/976863/pexels-photo-976863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container.cancellation {
  width: 600px;
  height: 100%;
  margin: 5% auto;
  padding: 20px 15px;
  background: rgba(250,250,250,0.6);
  border-radius: 5px;
  position: relative;

    .forms {
      width: 100%;
      position: aboslute;
      top: 100px;
      left: 40px;
    }

    .titles{
      text-align: center;
      margin-bottom: 40px;
      margin-top: 40px;
      padding-top: 15px;
      color: darkslategray;
      border-top: 3px solid #ff3000;
    }

    .first-title {
      text-align: center;
      margin-bottom: 40px;
      margin-top: 40px;
      // padding-top: 15px;
      color: darkslategray;
    }
}

.form-inputs {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border: 0;
  outline: none;
  background: transparent;
}

.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
    .submit {
      width: 110px;
      height: 35px;
      margin: 0 10px;
      background: linear-gradient(to right, #ff3000, #ff6000);
      border-radius: 30px;
      border: 0;
      outline: none;
      color: #fff;
      cursor: pointer;
    }


}

.form2 {
  left: 450px;
}

.form3 {
  left: -450px;
}
