.body.cancellation {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/3052360/pexels-photo-3052360.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center;
  background-size: cover;
}

.container.cancellation {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;

    .form {
      width: 280px;
      position: aboslute;
      top: 100px;
      left: 40px;
    }
}

.form-title.cancellation {
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}

.form-input.cancellation {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  background: transparent;
  &:placeholder {
    color: #777;
  }
}

.btn-box.cancellation{
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.btn-box.cancellation button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #ff3000, #ffad06);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

// .btn-box.cancellation input {
//   width: 110px;
//   height: 35px;
//   margin: 0 10px;
//   background: linear-gradient(to right, #fd461d, #ffad06);
//   border-radius: 30px;
//   border: 0;
//   outline: none;
//   color: #fff;
//   cursor: pointer;
// }