$font-primary: "GraphikLCG-Medium";
$font-color: rgba(0,0,0,0.6);

.body.cancellation {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(https://images.pexels.com/photos/976863/pexels-photo-976863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container.cancellation {
  width: 600px;
  height: 100%;
  margin: 5% auto;
  padding: 20px 15px;
  background: rgba(200,200,200,0.8);
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);

    .forms {
      width: 100%;
      position: aboslute;
      top: 100px;
      left: 40px;
    }

    .titles{
      text-align: center;
      margin-bottom: 40px;
      margin-top: 40px;
      padding-top: 15px;
      color: $font-color;
      border-top: 3px solid rgba(255, 48, 0, 0.5);
      font-family: $font-primary;

    }

    .first-title {
      text-align: center;
      margin-bottom: 40px;
      margin-top: 20px;
      // padding-top: 15px;
      color: $font-color;
      font-family: $font-primary;
    }

    h5 {
      font-family: $font-primary;
      color: $font-color;
    }
}

.form-inputs {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border: 0;
  outline: none;
  background: transparent;

  span {
    font-family: $font-primary;
    color: $font-color;
  }
}

.form-group label {
  font-family: $font-primary;
  color: $font-color;
}

.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
    .submit {
      width: 110px;
      height: 35px;
      margin: 0 10px;
      background: linear-gradient(to right, #ff3000, #ff6000);
      border-radius: 30px;
      border: 0;
      outline: none;
      color: #fff;
      cursor: pointer;
      font-family: $font-primary;
      box-shadow: 0 0 15px rgba(145, 27, 0, 0.6);
    }
}

.radio_button {
  height: 17px;
  width: 17px;
}