.map-container{
  display: flex;
  width: 70vw;
  justify-content: space-between;
  margin: auto;
}

.map-body{
  position: relative;
  width: 550px;
}


#map {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 10px;
}

.svg-map-container{
  position: absolute;
  top: 600px;
   
}

.svg-img-margin{
  margin-left: -30px;
}

@media only screen and (max-width: 1280px){
  .map-container{
    width: 90vw;
  }


  #map {
    width: 80%;
  }
}

// .card-map{
//   position: absolute;
//   left: 50%;
//   bottom: 1px;
//   width: 600px; 
//   height:200px;
//   margin-bottom: 475px;
// }

// #map{
//   border-radius: 50px;
//   border-color: transparent;
// }

// @media only screen and (max-width: 768px){
//   .card-map{
//     position: absolute;
//     top: 20px;
//     bottom: 1px;
//     width: 500px; 
//     height:200px;
//   }
//   #map{
//     right: 60%;
//   }
// }
