.map-container{
  display: flex;
  width: 70vw;
  justify-content: space-between;
  margin: auto;
}

.map-body{
  position: relative;
  width: 550px;
}


#map {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 10px;
}

.svg-map-container{
  position: absolute;
  top: 600px;
   
}

.svg-img-margin{
  margin-left: -30px;
}

@media only screen and (max-width: 1280px){
  .map-container{
    width: 90vw;
  }
  
  #map {
    width: 80%;
  }
  .svg-map-container{
    position: absolute;
    top: 570px;
     
  }
}
