.card-shape{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-body{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-name{
    font-family: "GraphikLCG-Medium"; 
}

.vento-font{
    font-family: "GraphikLCG-Medium"; 
}

.festvial-name{
    height: 25px;
    border-radius: 20px;
}

.festival-dates{
    height: 25px;
    border-radius: 20px;
}

.insurance-details{
    border-radius: 20px;
    border: none;
}

.link-color{
    color: black;
}

.title-header {
    padding: 40px 300px 40px 300px;
}

.help-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

@media only screen and (max-width: 1280px) {
    .title-header {
        padding: 40px 60px 40px 60px;
    }
}