.card-shape{
    background: linear-gradient(#E2E8E8, #cac9c9);
    border-radius: 15px;
}

.user-name{
    font-family: "GraphikLCG-Medium"; 
}

.vento-font{
    font-family: "GraphikLCG-Medium"; 
}

.festvial-name{
    height: 25px;
    border-radius: 20px;
}

.festival-dates{
    height: 25px;
    border-radius: 20px;
}

.insurance-details{
    height: 220px;
    border-radius: 20px;
}

.link-color{
    color: black;
}
