<head>
  <title>Vento - Dashboard</title>
</head>
<h1>My Events</h1>


<div class="festivals container">
  <div class="festivals row">
    <% @festivals.each do |festival| %>
      <div class="festivals col-sm-12 col-md-6 col-lg-4" id="festival-cards">
        <div class="festivals card" id="card">
          <%= link_to contract_path(festival), class: "festivals-links" do %>

            <div id="header"><%= festival.name %></div>
            <div id="separator"></div>
            <div id="content"></div>
            <div id="left-cutout" class="cutout"></div>
            <div id="right-cutout" class="cutout"></div>
            <div id="left-cutout-cover" class="cutout-cover"></div>
            <div id="right-cutout-cover" class="cutout-cover"></div>
          <% end %>
        </div>
      </div>  
    <% end %>
  </div>
</div>
