// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";


body{
    background-color: #FCF9F7;
}


@font-face {
    font-family: 'GraphikLCG-Bold';
    src: url('GraphikLCG-Bold.ttf');
 }

@font-face {
    font-family: 'GraphikLCG-Medium';
    src: url('GraphikLCG-Medium.ttf');
 }

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('GraphikLCG-Regular.ttf');
 }